@import "styles";

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-content: center;
}
