@import "@styles";

.container {
  width: 380px;
  height: auto;
  aspect-ratio: 16 / 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-color: $blue;
  @include primary-shadow;
  text-decoration: none;
  padding: 20px;

  @include small {
    flex: 0 0 90%;
    width: 90%;
  }

  @include medium {
    width: 300px;
  }

  .title {
    @include h3;
    color: $dark;
    position: absolute;
    left: auto;
    text-transform: uppercase;
    height: 26px;
    top: calc(50% - 26px);

    @include small {
      @include h3-mobile;
      height: 16px;
      top: calc(50% - 16px);
    }
  }

  .description {
    position: absolute;
    top: auto;
    left: 20px;
    width: calc(100% - 40px);
    @include description;
    color: $dark;
    text-align: center;
    opacity: 0;

    @include small {
      @include description-mobile;
    }
  }

  .open {
    position: absolute;
    bottom: 90px;
    left: auto;
    height: 20px;
    bottom: calc(50% - 20px);
    @include paragraph;
    line-height: 100%;
    color: $dark;

    @include small {
      @include paragraph-mobile;
      line-height: 100%;
      height: 14px;
      bottom: calc(50% - 14px);
    }
  }

  &:active {
    box-shadow: unset;
    scale: 1.05;
    transform: translateX(6px) translateY(6px) !important;
  }
}
