@import "styles";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .tab {
    cursor: pointer;
    @include h1;
    color: $pink;
    text-transform: uppercase;
    opacity: 0.5;

    &.active {
      @include section-title;
      opacity: 1;
    }
  }
}
