// 🖥️ Screen sizes
$small: 320px;
$medium: 768px;
$large: 1440px;

@mixin small {
  @media (min-width: $small) and (max-width: calc($medium - 1px)) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $medium) and (max-width: calc($large - 1px)) {
    @content;
  }
}

@mixin large {
  @media (min-width: $large) {
    @content;
  }
}

