@import "styles";

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .contact {
      display: flex;
      gap: 40px;

      .link {
        text-decoration: none;
        @include h3;
        color: $blue;
      }
    }
  }

  .memoji {
    max-width: 420px;
    width: 30%;
    height: auto;
    position: absolute;
    left: 40px;
    bottom: 0;
    @include primary-shadow-image;
  }
}
