@import "styles";

.container {
  width: 100vw;
  height: 100vh;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;

  .text {
    @include paragraph;
    color: $white;
    width: 70vw;
  }

  .memoji {
    max-width: 420px;
    width: 30%;
    height: auto;
    position: absolute;
    right: 40px;
    bottom: 0;
    @include primary-shadow-image;
  }
}
