@import "@styles";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 104px 40px 0 40px;

  @include small {
    padding: 78px 20px 0 20px;
  }

  .text {
    @include paragraph;
    color: $white;
    width: 70%;

    @include small {
      @include paragraph-mobile;
      width: 100%;
    }
  }

  .memoji {
    max-width: 420px;
    width: 30%;
    height: auto;
    position: absolute;
    right: 40px;
    bottom: 0;
    @include primary-shadow-image;
  }
}
