@import "styles";

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include small {
    gap: 10px;
  }

  .name {
    @include h3;
    color: $white;

    @include small {
      @include h3-mobile;
    }
  }

  .valueBar {
    width: 242px;
    display: flex;
    gap: 40px;
    padding-left: 40px;
    position: relative;
    background-color: rgba($blue, 0.5);

    @include small {
      width: 132px;
      gap: 20px;
      padding-left: 20px;
    }

    .active {
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      background-color: $blue;
      width: 100%;
      transform-origin: left center;

      @include small {
        height: 6px;
      }
    }

    .divider {
      z-index: 1;
      min-width: 10px;
      background-color: $dark;
      height: 10px;

      @include small {
        min-width: 8px;
        height: 6px;
      }
    }
  }
}
