@import "../../../../styles";

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .skillColumn {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .memoji {
    max-width: 420px;
    width: 30%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    @include primary-shadow-image;
  }
}
